@media(max-width: 600px) {
	.header_flex {
		display: block;
	}


	.aheheheh {
		width: 100%;
		padding-bottom: 20px;
	}


	.header {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}


	.grid {
		display: block;
	}


	.ix {
		padding: 30px;
		text-align: center;
	}


	.hr2 {
		width: 50%;
		margin: auto;
	}


	.ew {
		padding-left: 15px;
		padding-right: 15px;
	}


	.av {
		display: block;
		width: 50%;
		margin: auto;
		text-align: center;
	}


	.yw {
		padding-left: 15px;
		padding-right: 15px;
	}
}